* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#5f4b8bff, rgb(36, 40, 119));
  color: whitesmoke;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
}

.temperature-degree {
  font-size: 40px;
}
